{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">User Profile</h3>
                </div>
                <div class="card-body">
                    <p>Welcome, {{ user.username }}!</p>
                    <p>Email: {{ user.email }}</p>
                    {% if user.userprofile.phone_number %}
                    <p>Phone Number: {{ user.userprofile.phone_number }}</p>
                    {% else %}
                    <p>Phone Number: Not provided</p>
                    {% endif %}
                    <!-- Add more user profile information here as needed -->
                    {% if user.is_authenticated %}
                    <div class="text-center">
                        <a href="{% url 'password_change' %}">
                            <button type="button" class="btn btn-primary">Edit Profile</button>
                        </a>
                    </div>
                    {% else %}
                    <a class="nav-link" href="#"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
